.claim-button {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: rgba(143, 143, 143, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: auto;
    border-left: none;
    border-right: none;
    width: auto;
    letter-spacing: normal;
    transition: 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.claim-button-text {
    font-style: normal;
}

.claim-button-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    /* background: linear-gradient(to left, rgba(255, 255, 255, 0.2), transparent);
    transform: skewX(45deg) translateX(0); */
    transition: 0.5s;
}

.claim-button:hover > .claim-button-text::before {
    /* transform: skewX(45deg) translateX(200%); */
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .claim-button {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.claim-button:hover {
    letter-spacing: 1.5px;
}

.delegate {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    padding: 12px 25px;
    border-radius: 30px;
    width: fit-content;
    float: left;
    cursor: default;
    border-left: none;
    border-right: none;
    overflow: hidden !important;
}

.delegate-text {
    color: #383a3b !important;
    z-index: 3;
    position: relative;
}

.delegate::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.3), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
    overflow: hidden;
}

.wrapper {
    text-align: right;
    font-size: 2.4rem;
    color: #383a3b;
    margin-right: 20px;
    margin-top: 27px;
}

.logo {
    color: #000;
    margin-top: 15px;
    float: left;
    width: auto !important;
    height: auto !important;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.delegated-icon {
    margin-top: 20px;
    margin-left: 30px;
    float: left;
    width: 40px;
    height: 40px;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.selected-ftso {
    position: absolute;
    z-index: 100;
    width: auto;
    outline: none;
    font-size: 2.4rem !important;
    padding: 30px 20px;
    cursor: pointer;
    border-radius: .3em;
    margin-right: 10em;
    left: 3em;
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    box-shadow: none;
    color: #67696a !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%2367696a;" /></svg>');
    background-position: right 20px top 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-right: 40px;
    transition: 0.5s;
    letter-spacing: normal;
}

.selected-ftso option {
    font-size: 2rem;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {

    .claim-button {
        padding: 10px;
        height: 45px;
        width: auto;
        grid-row: 2;
    }

    .selected-ftso {
        font-size: 2rem !important;
        width: auto;
        padding: 25px 20px;
    }

    .delegate {
        width: auto;
        padding: 10px 0;
    }

    .dapp-box {
        height: 46px;
        padding: 0;
    }

    .select-container {
        height: fit-content;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .wrap-box-ftso {
        height: 9rem;
        margin: 10px 0 0;
    }

    .claim-button {
        padding: 8px 20px;
        height: 45px;
        width: auto;
        margin: 0;
        grid-row: 2;
    }

    .selected-ftso {
        font-size: 2rem !important;
        width: auto;
        padding: 25px 20px;
    }

    .delegate {
        width: auto;
        padding: 10px 0;
    }

    .dapp-box {
        height: 46px;
        padding: 0;
    }

    .select-container {
        height: fit-content;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    .wrap-box-ftso {
        height: 9rem;
        margin: 10px 0 0;
    }

    .claim-button {
        padding: 8px 20px;
        height: 45px;
        width: auto;
        margin: 0;
        grid-row: 2;
    }

    .selected-ftso {
        font-size: 2rem !important;
        width: auto;
        padding: 25px 20px;
    }

    .delegate {
        width: auto;
        padding: 10px 0;
    }

    .dapp-box {
        height: 46px;
        padding: 0;
    }

    .select-container {
        height: fit-content;
    }
}
