.wrap-unwrap {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    color: #383a3b;
    font-size: 20px;
    padding: 12px;
    border-radius: 30px;
    width: auto;
    float: left;
    cursor: pointer;
    border-left: none;
    border-right: none;
    overflow: hidden !important;
    letter-spacing: normal;
    transition: 0.5s;
}

.wrap-unwrap-text {
    color: #383a3b !important;
    z-index: 3;
    position: relative;
}

.wrap-unwrap-text::before {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background: linear-gradient(to left, rgba(255, 255, 255, 0.5), transparent); */
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
    overflow: hidden;
}

.wrap-unwrap:hover::after {
    transform: skewX(45deg) translateX(200%);
}

.wrap {
    color: #fd000f;
}

.unwrap {
    color: #383a3b;
}

.wrap-unwrap:hover {
    letter-spacing: 1px;
    float: left;
    cursor: pointer;
    outline: none;
}

.wrapper-wrap {
    text-align: left;
    font-size: 13px;
    color: #8f8f8f;
    margin-left: 40px;
}

.logo-from {
    color: #fd000f;
    margin: 15px 35px 5px 45px;
    float: left;
    width: 45px !important;
    height: 45px !important;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.logo-to {
    color: #000;
    margin: 15px 35px 5px 45px;
    float: left;
    width: 45px !important;
    height: 45px !important;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.connect-wallet.wrap-button {
    float: right;
    background-color: rgba(143, 143, 143, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.wrap-button-text {
    font-style: normal;
}

.wrap-button-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background: linear-gradient(to left, rgba(255, 255, 255, 0.2), transparent); */
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.wrap-button:hover > .wrap-button-text::after {
    transform: skewX(45deg) translateX(200%);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .wrap-button {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.wrap-button:hover {
    letter-spacing: 1.5px;
}

a:hover, a:active, a:focus {
    color: #fd000f;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .logo-from {
        margin: 15px 20px 0px 30px;
    }

    .logo-to {
        margin: 15px 20px 0px 30px;
    }

    .wrapper-claim {
        margin-left: 35px;
    }

    .addr-wrap {
        text-align: center;
        font-size: 13px;
        margin: 20px;
    }

    .wrap-unwrap {
        width: auto;
        padding: 10px;
    }

    .dapp-box {
        height: 46px;
        padding: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .wrap-unwrap {
        width: auto;
        padding: 10px;
    }

    .dapp-box {
        height: 46px;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width: 979px) {

    .wrap-unwrap {
        width: auto;
        padding: 10px;
    }

    .dapp-box {
        height: 46px;
        padding: 0;
    }
}