body {
    padding-top: 10em;
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/Component-2.png")!important;
    background-size: cover;
}

.h {
    font-size: 28px;
    color: #383a3b;
    margin-top: 40px
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dappContainer {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(236,236,236,0.6);
    display: inline-block;
    margin-top: 0px;
    padding: 25px 44px 30px;
    border-radius: 25px;
    width: calc(50% + 1em);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .dappContainer {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

.selectContainer {
    text-align: right;
}

.wrapUnwrap {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(255,255,255, 0.4);
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    color: #383a3b;
    font-size: 20px;
    padding: 12px 20px;
    border-radius: 30px;
    float: left;
    cursor: pointer;
    border-left: none;
    border-right: none;
    overflow: hidden!important; 
    transition: 0.5s;
}

.wrapUnwrapText {
    color: #383a3b!important;
}

/* .wrapUnwrap > .wrapUnwrapText::before {
    box-sizing: inherit;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.2), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
    overflow: hidden;
}

.wrapUnwrap:hover > .wrapUnwrapText::before {
    transform: skewX(45deg) translateX(200%);
} */

.Wrap {
    color: #fd000f;
}

.Unwrap {
    color: #383a3b;
}

.wrapUnwrap:hover,
.wrapUnwrap:focus {
    float: left;
    cursor: pointer;
    outline:none;
}

.networkLabel {
    padding-right: 10px;
}

.wrapBox {
    height: 9.5rem;
    justify-content: right;
    align-items: right;
    text-align: right;

    background-color: #fff;
    padding-right: 1.2em;
    padding-top: .2em;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 25px;
}

.Wrapper {
    text-align: left;
    font-size: 13px;
    color: #8f8f8f;
    margin-left: 20px;
}

.dummytext {
    margin-top: 64px;
}

.AddrWrap {
    text-align: left;
    font-size: 13px;
    color: #67696a;
    margin-top: 70px;
    margin-left: 10px;
}

.logoFrom {
    color: #fd000f;
    margin-top: 15px;
    float: left;
    width: 25%; height: 50%;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.logoTo {
    color: #000;
    margin-top: 15px;
    float: left;
    width: 25%; height: 50%;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.tokenIdentifier {
    font-size: 2.4rem;
    left: -1em;
    margin-top: 27px;
    float: left;
    text-align: left;
}

.amount {
    border: none;
    width: 50%;
    margin-top: 20px;
    font-size: 2.4rem;
    padding-bottom: 10px;
    
}
.amount:focus {
    outline:none !important;
}

.ConnectWallet {
    /* display: inline-block; */
    background-color: rgba(253, 0, 15, 0.6);
    border-top: 1px solid rgba(255,255,255, 0.4);
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-left: none;
    border-right: none;
    width: 45%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    padding: 12px 20px;
    border-radius: 30px;
    letter-spacing: normal;
    transition: 0.5s;
}

.ConnectWallet:hover {
    letter-spacing: 1.5px;
}

.ConnectWalletText {
    font-style: normal;
}

.ConnectWalletText::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.2), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.ConnectWallet:hover > .ConnectWalletText::before {
    transform: skewX(45deg) translateX(200%);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .ConnectWallet {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

.WrapButton {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: rgba(143, 143, 143, 0.6);
    border-top: 1px solid rgba(255,255,255, 0.4);
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: auto;
    border-left: none;
    border-right: none;
    width: 40%;
    letter-spacing: normal;
    transition: 0.5s;
}

.WrapButtonText {
    font-style: normal;
}

.WrapButtonText::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.2), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.WrapButton:hover > .WrapButtonText::before {
    transform: skewX(45deg) translateX(200%);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .WrapButton {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

.WrapButton:hover {
    letter-spacing: 1.5px;
}

/* .ConnectWallet:hover {
    background-color: lightgray;
    color: red;
} */

a, a:hover, a:active, a:focus {
    color: #fd000f;
}

select {
    font-size: 2rem;
    padding: .7em;
    padding-right: .5em;
    cursor: pointer;
    border-radius: .3em;
    margin-right: 3em;
    background-color: #fff;
    color: #383a3b !important;
    border: 1.5px solid #383a3b;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23383a3b;" /></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    padding-right: 25px;
}

select:focus,
select:hover {
    outline: none;
    border: 1.5px solid #fd000f;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23fd000f;" /></svg>');
    color: #fd000f !important;
}

select option {
    background-color: #fff;
    color: #fd000f;
}