.connect-wallet-text .selectize-input {
    position: relative;
    z-index: 100;
    width: auto;
    outline: none;
    font-size: 18px !important;
    padding: 0px !important;
    cursor: pointer;
    border-radius: .3em;
    margin: -10px !important;
    left: 0 !important;
    background-color: rgba(255, 255, 255, 0.0) !important;
    background-image: none !important;
    border: none !important;
    box-shadow: none !important;
    color: #fff !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: 0.5s;
    letter-spacing: normal;
}

.title.connect-wallet-text {
    display: block;
    width: 45%;
    text-overflow: ellipsis;
    overflow-x: clip;
}

.connect-wallet-text .selectize-input input {
    color: #fff !important;
}

input#select-account-selectized::-webkit-input-placeholder {
    color: #fff;
}

.connect-wallet-text.selectize-control.single .selectize-input:not(.no-arrow)::after {
    border-color: #fff transparent transparent transparent !important;
    top: 45% !important;
    right: -10px !important;
}

.text-from {
    color: #fd000f;
    margin: 30px 35px 5px 45px;
    float: left;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.text-to {
    color: #000000;
    margin: 30px 35px 5px 45px;
    float: left;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.arrow-box {
    cursor: pointer;
    position: relative;
    z-index: 100;
    width: 50px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(253, 0, 15, 0.8);
    color: white;
    padding: 10px;
    margin: -25px auto;
    transform-origin: center;
    transform: rotate(0deg);
    transition: 0.5s;
}