body {
    padding-top: 9.5em;
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/Flare-Network-Red.png")!important;
    overflow: hidden;
    background-position-x: 0; 
    background-position-y: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.h {
    font-size: 28px;
    color: #383a3b;
    margin-top: 40px
}

.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dappContainer {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(236,236,236,0.6);
    display: inline-block;
    margin-top: 0px;
    padding: 30px 44px 25px;
    border-radius: 25px;
    width: calc(50% + 1em);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  }
  
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .dappContainer {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

.wrapUnwrap {
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    border-top: 1px solid rgba(255,255,255, 0.4);
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    color: #383a3b;
    font-size: 20px;
    padding: 12px 0px;
    border-radius: 30px;
    width: 40%;
    float: left;
    cursor: pointer;
    border-left: none;
    border-right: none;
    overflow: hidden!important; 
    letter-spacing: normal;
    transition: 0.5s;
}

.wrapUnwrapText {
    color: #383a3b!important;
    z-index: 3;
    position: relative;
}

.wrapUnwrap::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.5), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
    overflow: hidden;
}

.wrapUnwrap:hover::after {
    transform: skewX(45deg) translateX(200%);
}

.Wrap {
    color: #fd000f;
}

.Unwrap {
    color: #383a3b;
}

.wrapUnwrap:hover {
    letter-spacing: 1px;
    float: left;
    cursor: pointer;
    outline:none;
}

.networkLabel {
    padding-right: 10px;
}

.wrapBox {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    height: 9.5rem;
    justify-content: right;
    align-items: right;
    text-align: right;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(255,255,255,0.6);
    padding-right: 1.2em;
    padding-top: .2em;
    margin-top: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 25px;
}

.wrapBoxContent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.5), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.Wrapper {
    text-align: left;
    font-size: 13px;
    color: #8f8f8f;
    margin-left: 20px;
}

.dummytext {
    margin-top: 64px;
}

.AddrWrap {
    text-align: left;
    font-size: 13px;
    color: #67696a;
    margin-top: 90px;
    margin-left: 10px;
}

.logoFrom {
    color: #fd000f;
    margin-top: 15px;
    float: left;
    width: 25%; height: 50%;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.logoTo {
    color: #000;
    margin-top: 15px;
    float: left;
    width: 25%; height: 50%;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.tokenIdentifier {
    font-size: 2.4rem;
    left: -1em;
    margin-top: 27px;
    float: left;
    text-align: left;
}

.amount {
    border: none;
    width: 50%;
    margin-top: 20px;
    font-size: 2.4rem;
    padding-bottom: 10px;
    background: none!important;
    
}
.amount:focus {
    outline:none !important;
}

.ConnectWallet {
    /* display: inline-block; */
    background-color: rgba(253, 0, 15, 0.8);
    border-top: 1px solid rgba(255,255,255, 0.4);
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    border-left: none;
    border-right: none;
    width: 45%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    padding: 12px 20px;
    border-radius: 30px;
    letter-spacing: normal;
    transition: 0.5s;
}

.ConnectWallet:hover {
    letter-spacing: 1.5px;
}

.ConnectWalletText {
    font-style: normal;
}

.ConnectWalletText::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.2), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.ConnectWallet:hover > .ConnectWalletText::before {
    transform: skewX(45deg) translateX(200%);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .ConnectWallet {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

.WrapButton {
    float: right;
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: rgba(143, 143, 143, 0.8);
    border-top: 1px solid rgba(255,255,255, 0.4);
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: auto;
    border-left: none;
    border-right: none;
    width: 40%;
    letter-spacing: normal;
    transition: 0.5s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.WrapButtonText {
    font-style: normal;
}

.WrapButtonText::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.2), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

.WrapButton:hover > .WrapButtonText::before {
    transform: skewX(45deg) translateX(200%);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .WrapButton {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }

.WrapButton:hover {
    letter-spacing: 1.5px;
}

/* .ConnectWallet:hover {
    background-color: lightgray;
    color: red;
} */

a, a:hover, a:active, a:focus {
    color: #fd000f;
}

select {
    outline: none;
    font-size: 20px!important;
    padding: .7em 20px;
    cursor: pointer;
    border-radius: .3em;
    margin-right: 3em;
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 1.5px solid rgba(255,255,255, 0.4);
    border-bottom: 1.5px solid rgba(255,255,255, 0.4);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-left: none;
    border-right: none;
    color: #383a3b !important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%2367696a;" /></svg>');
    background-position: right 20px top 50%;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-right: 40px;
    transition: 0.5s;
    letter-spacing: normal;
}

.selectBox {
    overflow: hidden;
    white-space: nowrap;
}

.selectBox::after {
    position: absolute;
    display: inline-block;
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255,255,255,0.5), transparent);
    transform: skewX(45deg) translateX(12px);
    transition: 0.5s;
}

.selectBox:hover::after {
    transform: skewX(45deg) translateX(250%);
}


.selectContainer {
    text-align: right;
    position: relative;
}

.Box {
    position: relative;
    height: 54px;
    display: inline-block;
    overflow: hidden;
}

.selectBox:focus,
.selectBox:hover > select {
    outline: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23fd000f;" /></svg>');
    color: #fd000f !important;
    letter-spacing: 0.5px;
}

select option {
    background-color: #fff;
    color: #fd000f;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {

    body {
        padding: 8.5em 0 0 0!important;
        background-repeat: no-repeat;
        background-position-x: left 50%;
        background-position-y: bottom 100%;
        background-size: 300%;
        overflow: hidden;
    }

    .wrapBox {
        height: 9rem;
        margin: 10px 0 0;
    }

    .container {
        padding: 0 10px!important;
        height: fit-content;
    }
    .dappContainer {
        padding: 25px 10px 17px;
        width: 100%;
    }
    .Buttons {
        margin-top: 15px;
        box-sizing: border-box;
        display: grid;
        grid: none;
        grid-auto-flow: row!important;
        grid-row: 1;
        grid-gap: 15px;
        height: fit-content;
        width: 100%;
        place-items: center;
        text-align: center;
    }

    .ConnectWallet {
        padding: 8px 20px;
        height: 45px;
        width: 70%;
        margin: 0;
        grid-row: 1;
    }

    .WrapButton {
        padding: 8px 20px;
        height: 45px;
        width: 70%;
        margin: 0;
        grid-row: 2;
    }

    .dummytext {
        margin: 0;
    }

    .AddrWrap {
        margin: 10px 10px 0;
    }

    .wrapUnwrap {
        width: 60%;
        padding: 10px 0;
    }

    .Box {
        height: 46px;
        padding: 0;
    }

    select {
        padding: 0.5em 20px;
    }

    .selectContainer {
        height: fit-content;
    }
}